# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

#Ignore vscode AI rules
kyros-website.code-workspace
.kilocode/mcp.json
src/pages/services/index.astro
QWEN.md
QWEN.md
QWEN.md
QWEN.md
QWEN.md
CLAUDE.md
1753683755292-30b3431f487b4cc1863e57a81d78e289.sh
